*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
debug.log
src/ui/vendor
src/ui/css
src/ui/fonts
release
build
.tm_properties
.idea
.env*
/settings/**/*.json
/test_data
