html, body
  min-height 100vh
  height 100%

html
  body
    a
      color $mainColor
      &:hover, &:visited, &:focus
        color $secondaryColor
        text-decoration none

#main
  min-height 100vh
  width 100vw
  color $mainColor
  background-color $backgroundColor
  overflow-y auto
  overflow-x hidden
  backface-visibility hidden
  .playa-main
    width 100vw
    padding-top size($playbackBarHeight)
    backface-visibility hidden
    position relative
    &.sidebar-open
      .playa-main-wrapper
        width "calc(100vw - %s)" % $sidebarWidth
    .playa-main-wrapper
      width "calc(100vw - %s)" % $sidebarClosedWidth
      transition width .2s linear
      backface-visibility hidden
      position absolute
      right 0

  .footer
    height size($footerHeight)
    line-height size($footerHeight)
    position fixed
    bottom 0
    left 0
    right 0
    text-align center
    font-size size($footerFontSize)
    color $footerColor
    background-color $footerBgColor
    user-select none
    .icons
      padding-right 1rem
      a
        .fa
          vertical-align middle
          color $footerIconColor
          font-size size($footerIconSize)
