html, body
  min-height 100vh
  height 100%
  
html
  body
    a
      color $mainColor
      &:hover, &:visited
        color $secondaryColor
        text-decoration none

#main
  height 100vh
  width 100vw
  color $mainColor
  background-color $backgroundColor
  .playa-main
    height 100vh
    width 100vw