.context-menu
  position absolute
  min-width size($albumContextMenuMinWidth)
  max-width size($albumContextMenuMaxWidth)
  background-color $albumContextMenuBgColor
  border-radius $contextMenuBorderRadius
  line-height 2rem
  padding 0 1rem
  font-size .9rem
  z-index 1050
  margin 0
  padding 0
  display none
  &.visible
    display block
  li
    vertical-align middle
    box-shadow inset 0 -1px rgba($mainColor, .1)
    ellipsed()
    &:first-child
      border-top-left-radius $contextMenuBorderRadius
      border-top-right-radius $contextMenuBorderRadius
    &:last-child
      box-shadow none
      border-bottom-left-radius $contextMenuBorderRadius
      border-bottom-right-radius $contextMenuBorderRadius
    a
      display block
      padding 0 1rem
      transition background-color .1s ease-in
      &:hover
        color $mainColor
        background-color lighten($albumContextMenuBgColor, 35%)
      &.selected
        color $mainColor
        background-color lighten($albumContextMenuBgColor, 25%)
