.footer
  height size($footerHeight)
  line-height size($footerHeight)
  position fixed
  bottom 0
  left 0
  right 0
  text-align center
  font-size size($footerFontSize)
  color $footerColor
  background-color $footerBgColor
  user-select none
  transition height .1s ease-in
  &.isDrawerOpen
    height size($footerHeight + $infoDrawerHeight)
  .icons
    padding-right 1rem
    margin 0
    button
      background transparent
      border none
      padding 0
      outline none
      .fa
        vertical-align middle
        color $footerIconColor
        font-size size($footerIconSize)
      .error-icon
        color $footerErrorIconColor

  .info-drawer
    text-align left
    padding 0 1rem
    width 100%
    overflow-y auto
    height $infoDrawerHeight
    background-color $infoDrawerBgColor
    .track-info
      .key
        font-weight bold
        display block
        width size($trackInfoKeyWidth)
        float left
        text-align right
        text-transform capitalize
      .value
        display block
        float right
        width "calc(100% - %s)" % size($trackInfoKeyWidth)
        padding-left 1rem
