.playlist
  height "calc(100vh - %s - %s - %s)" % ($tabsBarHeight $playbackBarHeight $footerHeight)
  overflow-y auto
  user-select none
  .playlist-column-xs
    width 3rem
  .playlist-column-sm
    width 6rem
  .playlist-column-md
    width auto
  .table
    margin 0
    > tbody > tr
      &:nth-child(odd)
        background-color rgba(white, .05)
      &:nth-child(even)
        background-color rgba(white, .1)
      &:hover
        background-color rgba(white, .15)
      &.selected
        background-color rgba(white, .25)        
      &.playing
        background-color rgba(white, .35)
      > td
        border 0
        padding 0 .5rem
        line-height size($playlistItemHeight)
        font-size size($playlistFontSize)
        vertical-align middle
        user-select none
        color $playlistTableColor        
  
  .albums
    .album
      height size($albumItemClosedHeight)
      vertical-align middle
      box-shadow inset 0 -1px rgba($mainColor, .1)
      &.open
        height auto
      &:first-child
        box-shadow inset 0 -1px rgba($mainColor, .1), inset 0 1px rgba($mainColor, .1)
      &:hover
        header
          background-color $albumHoverBackgroundColor
          .links
            transform translateX(0)
      &.selected
        header
          background-color $albumSelectedBackgroundColor        
      &.playing
        header
          background-color $albumPlayingBackgroundColor
      &:hover,
      &.playing
        header
          .cover.loaded
            opacity 1
          .artist
            color $albumArtistColorPlaying
          .title
            color $albumArtistColor
      &.drag-over
        box-shadow inset 0 -1px rgba($mainColor, .1), inset 0 1px rgba($mainColor, .8)
      header
        height size($albumItemClosedHeight)
        position relative
        padding-top size($albumHeaderTopPadding)
        padding-left size($albumItemClosedHeight)
        overflow-x hidden
        .links
          transition transform .2s ease-in
          transform translateX(100%)
          width 10vw
          float right
          display none
        .cover
          height 'calc(%s - %s)' % ( size($albumItemClosedHeight) 2px)
          width 'calc(%s - %s)' % ( size($albumItemClosedHeight) 2px)
          background-position center
          background-size cover
          background-color black
          position absolute
          top 0
          left 0
          opacity 0
          transition opacity .3s ease-in
          &.loaded
            opacity .7
        .artist
          color $albumArtistColor
          font-size size($albumArtistFontSize)
          vertical-align middle
          padding-left 1rem
          display inline-block
          max-width 80%          
          transition color .3s ease-in
          ellipsed()
        .title
          font-size size($albumTitleFontSize)
          vertical-align middle
          padding-left 1rem
          display inline-block
          max-width 80%
          transition color .3s ease-in
          ellipsed()
        .year
          font-size size($albumDateFontSize)
          vertical-align middle
          margin-right 1rem
          position absolute
          right 0
          top size(($albumItemClosedHeight - $albumDateFontSize) * .5)
      .tracklist
        padding 0
        margin 0
        line-height size($albumTracklistLineHeight)
        font-size size($albumTracklistFontSize)
        .track
          &:nth-child(odd)
            background-color rgba(white, .03)
          &:nth-child(even)
            background-color rgba(white, .07)
          &:hover
            background-color rgba(white, .08)
          &.playing
            background-color rgba(white, .1)
          .track-playing-indicator
            width 1.2rem
            text-align center
            display inline-block
            margin-left 3rem
          .track-number
            width 1.2rem
            text-align right
            margin 0 1rem 0 0
            display inline-block
          .track-duration
            float right
            margin-right 1rem