.playback-bar
  display flex
  flex-direction row
  position fixed
  top 0
  left 0
  width 100vw
  height size($playbackBarHeight)
  background-color $playbackBarBgColor
  line-height size($playbackBarHeight)
  user-select none
  .playback-logo
    position absolute
    width 100%
    text-align center
    font-size size($playbackBarTitleSize)
    color $playbackBarTitleColor
    &.hide-logo
      display none
  .playback-buttons
    flex 0 0 size($sidebarWidth)
    text-align center
    @media(max-width: 640px)
      flex 0 0 size($sidebarCompactWidth)
    button
      margin 0
      padding 0
      color $playbackBarButtonColor
      background-color $playbackBarButtonBgColor
      border 0
      width size(2*$playbackBarButtonSize)
      .fa
        font-size size($playbackBarButtonSize)
        vertical-align middle
        @media(max-width: 640px)
          font-size size($playbackBarButtonCompactSize)
      &:focus
        outline none

  .playback-track-info-wrapper
    flex 1 100%
    display flex
    opacity 1
    transition opacity .3s ease-in-out
    position relative
    &.hide-info
      opacity 0
    @media(max-width: 640px)
      &.show-remaining
        .playback-time-indicator
          &.time-progress
            display none
          &.time-remaining
            display block

    .progress-wrapper
      position absolute
      top 0
      right 0
      bottom 0
      left $playbackBarCoverWidth
      cursor pointer
      &:after
        content ''
        background-color $playbackBarProgressIndicatorBgColor
        vertical-align middle
        position absolute
        bottom 0
        width 100%
        height size($playbackBarProgressIndicatorHeight)
      .waveform
        width 100%
        height 100%
        background-size 100% size(2 * $playbackBarHeight)
        background-repeat no-repeat
        background-position-x right
        opacity 0
        transition opacity .4s ease-in-out
        z-index -1
        &.loaded
          opacity 1
      .waveform-progress
        height size($playbackBarHeight)
        position absolute
        top 0
        right 0
        left 0
        background-color $playbackBarProgressBgColor
        transition transform .1s linear
        z-index 1000
      .progress-cursor
        height size($playbackBarHeight)
        width 1px
        background-color $playbackBarProgressCursorColor
        position absolute
        left -1px
        top 0
        transition opacity .2s ease-in-out
        opacity 1

    .playback-track-cover
      flex 0 0 $playbackBarCoverWidth
      overflow hidden
      position relative
      img
        width 100%
        height 100%
      &:after
        content: ''
        position absolute
        bottom 0
        left 0
        right 0
        height size($playbackBarProgressIndicatorHeight)
        z-index 1050
        background-color darken($playbackBarProgressIndicatorColor, 10%)
        border-right 1px solid rgba(white, .5)

    .playback-track-info
      font-size 1.1rem
      flex 1 100%
      text-align center
      cursor default
      z-index 1100
      pointer-events none
      @media(max-width: 640px)
        order 1
      .playback-track-info-artist,
      .playback-track-info-title
        ellipsed()
        display block
        line-height 1.5
        &.playback-track-info-title
          margin-top .8rem
          font-size size($playbackBarTitleSize)
          color $playbackBarTitleColor
        &.playback-track-info-artist
          font-size size($playbackBarArtistSize)
          text-shadow 0 0 2px rgba(white, .5)

    .playback-time-indicator
      vertical-align middle
      text-align center
      font-size .9rem
      flex 0 0 5rem
      cursor default
      z-index 1100
      pointer-events none
      text-shadow 0 0 2px rgba(white, .5)
      line-height 1
      height 1rem
      margin 2rem 0
      @media(max-width: 640px)
        flex 0 0 4rem
        order 2
        cursor pointer
        pointer-events auto
      &.time-remaining
        text-align right
        padding-right 1rem
        @media(max-width: 640px)
          display none
