.playback-bar
  display flex
  flex-direction row
  position fixed
  top 0
  left 0
  width 100vw
  height size($playbackBarHeight)
  background-color $playbackBarBgColor
  line-height size($playbackBarHeight)
  user-select none
  .playback-logo
    position absolute
    width 100%
    text-align center
    font-size size($playbackBarTitleSize)
    color $playbackBarTitleColor
    &.hide-logo
      display none
  .playback-buttons
    flex 0 0 size($sidebarWidth)
    text-align center
    @media(max-width: 640px)
      flex 0 0 size($sidebarCompactWidth)
    button
      margin 0
      padding 0
      color $playbackBarButtonColor
      background-color $playbackBarButtonBgColor
      border 0
      width size(2*$playbackBarButtonSize)
      .fa
        font-size size($playbackBarButtonSize)
        vertical-align middle
        @media(max-width: 640px)
          font-size size($playbackBarButtonCompactSize)
      &:focus
        outline none
  .playback-track-info-wrapper
    flex 1 100%
    display flex
    opacity 1
    transition opacity .3s ease-in-out
    position relative
    &.hide-info
      opacity 0
    @media(max-width: 640px)
      &.show-remaining
        .playback-time-indicator
          &.time-progress
            display none
          &.time-remaining
            display block
    .waveform
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background-size calc(100% - 5rem) 10rem
      background-repeat no-repeat
      background-position-x right
      opacity 0
      transition opacity .4s ease-in-out
      z-index -1
      &.loaded
        opacity 1
    .playback-track-cover
      flex 0 0 5rem
      overflow hidden
      img
        width 100%
        height 100%
    .progress-area
      position absolute
      bottom 0
      left 0
      right 0
      height size(3 * $playbackBarProgressIndicatorHeight)
      cursor pointer
      progress
        background-color $playbackBarProgressIndicatorBgColor
        vertical-align middle
        position absolute
        bottom 0
        width 100%
        height size($playbackBarProgressIndicatorHeight)
        &::-webkit-progress-bar-value
        &::-webkit-progress-value
          background-color $playbackBarProgressIndicatorColor
          transition width .1s ease-in
    .playback-track-info
      font-size 1.1rem
      flex 1 100%
      text-align center
      cursor default
      @media(max-width: 640px)
        order 1
      .playback-track-info-artist,
      .playback-track-info-title
        ellipsed()
        display block
        line-height 1.5
        &.playback-track-info-title
          margin-top .8rem
          font-size size($playbackBarTitleSize)
          color $playbackBarTitleColor
        &.playback-track-info-artist
          font-size size($playbackBarArtistSize)
    .playback-time-indicator
      vertical-align middle
      text-align center
      font-size .9rem
      flex 0 0 5rem
      cursor default
      @media(max-width: 640px)
        flex 0 0 4rem
        order 2
      &.time-remaining
        text-align right
        padding-right 1rem
        @media(max-width: 640px)
          display none
