.playlist
  height 100vh
  overflow-y auto
  .playlist-column-xs
    width 3rem
  .playlist-column-sm
    width 6rem
  .playlist-column-md
    width auto
  .table > tbody > tr
    &:nth-child(odd)
      background-color rgba(white, .05)
    &:nth-child(even)
      background-color rgba(white, .1)
    &:hover
      background-color rgba(white, .15)
    &.playing
      background-color rgba(white, .35)
    > td
      border 0
      padding 0 .5rem
      line-height size($playlistItemHeight)
      font-size size($playlistFontSize)
      vertical-align middle
      user-select none