.playback-bar
  display flex
  flex-direction row
  position fixed
  top 0
  left 0
  width 100vw
  height size($playbackBarHeight)
  background-color $playbackBarBgColor
  line-height size($playbackBarHeight)
  user-select none
  .playback-buttons
    flex 0 0 size(3*3*$playbackBarButtonSize)
    text-align center
    button
      margin 0
      padding 0
      color $playbackBarButtonColor
      background-color $playbackBarButtonBgColor
      border 0
      width size(2*$playbackBarButtonSize)
      .fa
        font-size size($playbackBarButtonSize)
        vertical-align middle
      &:focus
        outline none
  .playback-track-info-wrapper
    flex 1 100%
    display flex
    opacity 1
    transition opacity .3s ease-in-out
    position relative
    &.hide-info
      opacity 0
    .progress-area
      position absolute    
      bottom 0
      left 0
      right 0
      height size(3 * $playbackBarProgressIndicatorHeight)
      cursor pointer
      progress
        background-color $playbackBarProgressIndicatorBgColor
        vertical-align middle
        position absolute    
        bottom 0
        width 100%
        height size($playbackBarProgressIndicatorHeight)
        &::-webkit-progress-bar-value
        &::-webkit-progress-value
          background-color $playbackBarProgressIndicatorColor      
    .playback-track-info
      font-size 1.1rem
      flex 1 100%
      text-align center
      .playback-track-info-artist,
      .playback-track-info-title
        display block
        line-height 1.5
        &.playback-track-info-title
          margin-top .8rem
          font-size size($playbackBarTitleSize)
          color $playbackBarTitleColor
        &.playback-track-info-artist
          font-size size($playbackBarArtistSize)
    .playback-time-indicator
      vertical-align middle
      text-align center
      font-size .9rem
      flex 0 0 4rem
      &.time-progress
        text-align left
      &.time-remaining
        text-align right
  .playback-filter
    flex 0 0 size(3*3*$playbackBarButtonSize)