.sidebar
  width size($sidebarWidth)
  height "calc(100vh - %s)" % 7rem
  backface-visibility hidden
  user-select none
  position absolute
  top size($playbackBarHeight)
  transition transform .2s ease-in-out
  margin-top size($tabsBarHeight)
  &.sidebar-left
    transform 'translateX(calc(%s - %s))' % ($sidebarClosedWidth $sidebarWidth)
    left 0
  &.open
    transform translateX(0)
  .icons
    margin 0
    position absolute
    right 0
    top 0
    padding-top size($sidebarIconSize * .5)
    width size($sidebarClosedWidth)
    li
      width 100%
      text-align center
      a
        .fa
          color $sidebarIconColor
          font-size size($sidebarIconSize)
          
  .playlist-browser
    li
      line-height size($playlistBrowserLineHeight)
      font-size size($playlistBrowserFontSize)
      &:hover
        background-color rgba(white, .05)      
      &.selected
        background-color rgba(white, .1)
      .fa
        margin-right .5rem
        
    .tree-view 
      overflow-y hidden
      padding-left .5rem

    .tree-view_children 
      margin-left 1rem
    
    .tree-view_children-collapsed 
      height 0
    
    .tree-view_arrow 
      line-height size($playlistBrowserLineHeight)
      cursor pointer
      margin-right .5rem
      display inline-block
    
    .tree-view_arrow-collapsed 
      transform rotate(-90deg)