.sidebar
  width size($sidebarWidth)
  backface-visibility hidden
  user-select none
  position absolute
  top size($playbackBarHeight)
  transition transform .2s linear
  background-color $sidebarBgColor
  &.sidebar-left
    transform 'translateX(calc(%s - %s))' % (size($sidebarClosedWidth) size($sidebarWidth))
    left 0
  &.open
    transform translateX(0)
  .icons
    margin 0
    position absolute
    right 0
    top 0
    padding-top size($sidebarIconSize * .5)
    width size($sidebarClosedWidth)
    li
      width 100%
      text-align center
      a
        .fa
          color $sidebarIconColor
          font-size size($sidebarIconSize)

  .tab-panel
    height "calc(100vh - %s - %s - %s)" % (size($playbackBarHeight) size($tabsBarHeight) size($footerHeight))
    overflow auto
  .browser
    margin 0
    padding 0
    overflow-y hidden
    line-height size($playlistBrowserLineHeight)
    font-size size($playlistBrowserFontSize)
    display inline-block
    min-width 100%
    position relative
    .browser-node
      cursor pointer
      white-space nowrap
      transition background .1s linear
      padding-right 1rem
      &:hover
        background-color rgba(255,255,255,.05)
      &.selected
        background-color rgba(255,255,255,.1)
      .node-arrow
        margin-right .5rem
        &:after
          content '▾'
          display inline-block
          transition transform .1s linear
          width .75rem
          text-align center
      &.collapsed
        .node-arrow
          &:after
            transform rotate(-90deg)

  .settings
    padding 1rem
    font-size size($settingsFontSize)
    h2
      border-bottom 1px solid
    .settings-block
      margin-bottom 2rem
    .radio
    .checkbox
    p
      margin-top 0
      margin-bottom 1rem
    .btn
      border-radius 0
      font-size size($settingsFontSize)
