.sidebar
  width size($sidebarWidth)
  height "calc(100vh - %s - %s)" % (size($footerHeight) size($playbackBarHeight))
  backface-visibility hidden
  user-select none
  position absolute
  top size($playbackBarHeight)
  transition transform .2s linear
  background-color $sidebarBgColor
  overflow auto
  &.sidebar-left
    transform 'translateX(calc(%s - %s))' % ($sidebarClosedWidth $sidebarWidth)
    left 0
  &.open
    transform translateX(0)
  .icons
    margin 0
    position absolute
    right 0
    top 0
    padding-top size($sidebarIconSize * .5)
    width size($sidebarClosedWidth)
    li
      width 100%
      text-align center
      a
        .fa
          color $sidebarIconColor
          font-size size($sidebarIconSize)
  .browser
    margin 0
    padding .5rem 0 0 1rem
    overflow-y hidden
    line-height size($playlistBrowserLineHeight)
    font-size size($playlistBrowserFontSize)
    display inline-block
    min-width 100%
    .browser-node
      cursor pointer
      white-space nowrap
      transition background .1s linear
      &:hover
        background-color rgba(255,255,255,.05)
      &.selected
        background-color rgba(255,255,255,.1)
      .node-arrow
        margin-right .5rem
        &:after
          content '▾'
          display inline-block
          transition transform .1s linear
          width .75rem
          text-align center
      &.collapsed
        .node-arrow
          &:after
            transform rotate(-90deg)
