.tabs-navigation
  top size($playbackBarHeight)
  height size($tabsBarHeight)
  line-height size($tabsBarHeight)
  background-color $tabsBarBgColor
  box-shadow 0 0 2rem rgba(0,0,0,.75)
  user-select none
  overflow-x auto
  overflow-y hidden
  clearfix()
  .tabs-menu
    list-style none
    padding 0
    margin 0
    font-size size($tabsBarFontSize)
    clearfix()
    .tabs-menu-item
      float left
      a
        display block
        padding 0
        width size($tabsWidth)
        color $tabsBarColor
        text-decoration none
        text-align center
        box-shadow 0 0 black, 1px 0 rgba($mainColor, .1)
        ellipsed()
        cursor pointer
        &:hover
          background-color darken($tabsBgActiveColor, 50%)
      &.is-active
        a
          background-color $tabsBgActiveColor

.playa-main-wrapper
  .tabs-navigation
    width "calc(100vw - %s)" % size($sidebarClosedWidth)
    .tabs-menu
      .tabs-menu-item
        a
          padding 0 1rem
          transition width .2s ease-in-out, background-color .2s ease-in-out
        &.is-active
          a
            width size(1.5 * $tabsWidth)
.sidebar-open
  .playa-main-wrapper
    .tabs-navigation
      width "calc(100vw - %s)" % size($sidebarWidth)

.sidebar
  .tabs-navigation
    .tabs-menu
      .tabs-menu-item
        width 33.333333333%
        a
          width auto
          transition background-color .2s ease-in-out
