html,body
  font-size $baseFontSize
  font-family $baseFont, sans-serif
  @media(min-width: 1700px)
    font-size $baseFontSizeWide

body
  line-height 1.4rem
  text-rendering optimizeLegibility
  font-smoothing antialiased

  h1, h2
    font-weight 600
    margin 0 0 1rem 0

  h1
    font-size size($h1FontSize)
    line-height size(2 * $h1FontSize)

  h2
    font-size size($h2FontSize)
    line-height size(2 * $h2FontSize)
