// Colours
$mainColor = #BFE2FF
$clear =  false
$htmlColor = $mainColor
$backgroundColor = #0A131A
$secondaryColor = darken($mainColor, 50%)
$textColor = $mainColor
$alertColor = red

// Typography
$baseFontSize = 12px
$baseFontSizeWide = 16px
$h1FontSize = 2 * $baseFontSize
$h2FontSize = 1.5 * $baseFontSize