// Colours
$mainColor = rgba(white, .8)
$clear =  false
$htmlColor = $mainColor
$backgroundColor = #111
$secondaryColor = darken($mainColor, 50%)
$textColor = $mainColor

// Typography
$baseFontSize = 14px
$baseFontSizeWide = 16px
$h1FontSize = 2 * $baseFontSize
$h2FontSize = 1.5 * $baseFontSize

// Playback bar
$playbackBarBgColor = rgba(black, .9)
$playbackBarHeight = 5 * $baseFontSize
$playbackBarButtonColor = $mainColor
$playbackBarButtonBgColor = transparent
$playbackBarButtonSize = 1.5 * $baseFontSize
$playbackBarProgressIndicatorHeight = $baseFontSize * 0.25
$playbackBarProgressIndicatorColor = rgba(black, .5)
$playbackBarProgressIndicatorBgColor = rgba(white, .3)
$playbackBarTitleSize = 1.2 * $baseFontSize
$playbackBarArtistSize = .9 * $baseFontSize
$playbackBarTitleColor = white

// Tabs bar
$tabsBarBgColor = #111
$tabsBarColor = $mainColor
$tabsBarHeight = 2 * $baseFontSize
$tabsBarFontSize = .9 * $baseFontSize

// Playlist
$playlistItemHeight = 2 * $baseFontSize
$playlistFontSize = .9 * $baseFontSize

// Albums
$albumItemClosedHeight = 5 * $baseFontSize

// Sidebar
$sidebarClosedWidth = 4 * $baseFontSize
$sidebarWidth = 20 * $baseFontSize
$sidebarIconSize = 2 * $baseFontSize
$sidebarIconColor = $mainColor

// Footer
$footerHeight = 2 * $baseFontSize
$footerFontSize = .9 * $baseFontSize
$footerIconColor = $mainColor
$footerIconSize = 1 * $baseFontSize
$footerColor = rgba(white, .9)
$footerBgColor = rgba(black, .9)