@import 'nib'

@import '_variables'
@import '_functions'
@import '_mixins'
@import '_typography'
@import '_common'

@import '_sidebar'
@import '_playback_bar'
@import '_tabs'
@import '_playlist'
@import '_context_menu'

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato_normal_300_default.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato_normal_400_default.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato_normal_700_default.woff') format('woff');
}

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit
