@import '_variables'
@import '_functions'
@import '_mixins'
@import '_typography'

$playlistTitleHeight = 3 * $baseFontSize
$playbackBarHeight = 9 * $baseFontSize
$playlistAlbumHeight = 4 * $baseFontSize
$albumDetailCoverWidth = 8 * $baseFontSize

html
  box-sizing border-box
  overflow hidden

*, *:before, *:after
  box-sizing inherit

body
  font-family 'Lato', sans-serif
  background-color $backgroundColor
  font-size $baseFontSize
  color $mainColor
  width 100vw
  height 100vh
  backface-visibility hidden
  overflow hidden

a, a:hover, a:visited
  color black
  text-decoration underline

.remote-controller
  &.show-album
    .panel-wrapper
      .panel
        &.playlist
          transform translateX(-100%)
        &.album-detail
          transform translateX(0)
    .playback-bar
      .footer
        &.playlist-title
          display none
        &.back-button
          display block
  .panel-wrapper
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling touch
    height "calc(100vh - %s)" % ($playbackBarHeight)
    position relative
    .panel
      width 100vw
      position absolute
      top 0
      left 0
      transition transform .4s ease-in-out
      transform translateX(0)

      &.playlist
        margin 0
        transform translateX(0)
        ul
          padding 0
          margin 0
          li
            position relative
            padding-top .5rem
            padding-bottom .5rem
            padding-left .5rem
            line-height 1.5rem
            height $playlistAlbumHeight
            box-shadow inset 0 -1px rgba($mainColor, .1)
            transition background-color .2s ease-in-out
            &:first-child
              box-shadow inset 0 -1px rgba($mainColor, .1), inset 0 1px rgba($mainColor, .1)
            &:hover
              cursor pointer
              background-color darken($backgroundColor, 10%)
            &.playing
              background-color lighten($backgroundColor, 90%)
              color black
              .artist
                color black
              .playing-icon
                display inline-block
            .playing-icon
              display none
            .artist
            .title
              display block
              margin 0 $playlistAlbumHeight
              ellipsed()
            .artist
              color $albumArtistColor
            .title
              font-weight bold
            .year
              position absolute
              top 1.25rem
              right .5rem
              font-weight 300
              color $albumArtistColor
            .cover
              display block
              position absolute
              background-color rgba($mainColor, .1)
              top 0
              left 0
              width $playlistAlbumHeight
              height $playlistAlbumHeight
              img
                width 100%
                opacity 1
                transition opacity .3s ease-in-out
              &:after
                content '►'
                display block
                background-color rgba(black, .5)
                position absolute
                top 0
                left 0
                right 0
                bottom 0
                transition transform .3s ease-in-out
                transform translateX(-100%)
                color white
                text-align center
                font-size 1.5rem
                vertical-align middle
                line-height $playlistAlbumHeight
              &:hover
                img
                  opacity .8
                &:after
                  transform translateX(0)


      &.album-detail
        transform translateX(100%)
        h2
          font-weight normal
          line-height 2rem
          padding .5rem
          margin 1rem
          position relative
          height $albumDetailCoverWidth
          .artist
          .title
          .year
            display block
            margin-left $albumDetailCoverWidth * 1.1
            ellipsed()
            &.title
              font-weight bold
            &.year
              margin-top 1rem
              font-weight 300
          .cover
            box-shadow 0 0 .125rem 0 rgba($mainColor, .25)
            position absolute
            top 0
            left 0
            height $albumDetailCoverWidth
            max-width $albumDetailCoverWidth
        ol
          margin 0
          padding 0
          li
            line-height 2rem
            font-size .9rem
            cursor pointer
            &:nth-child(odd)
              background-color lighten($backgroundColor, 2%)
            .playing-icon
              visibility hidden
              margin-left .5rem
            &.playing
              background-color lighten($backgroundColor, 100%)
              color black
              .playing-icon
                visibility visible
            .track-title
              ellipsed()
            .track-number
              display inline-block
              width 1.5rem
              text-align right
              margin-right .5rem
              &:after
                content '.'
            .track-duration
              float right
              margin-right .5rem
              font-size .8rem

  .playback-bar
    text-align center
    height $playbackBarHeight
    width 100vw
    background-color lighten($backgroundColor, 5%)
    z-index 1010
    padding-top 1rem
    progress
      width 100%
      height .25rem
      line-height .25rem
      vertical-align top
      cursor pointer
      border 0
      border-radius 0
      appearance none
      margin 0
      padding 0
      display block
      &[value]::-webkit-progress-value
        background-color white
    .playback-info
      margin 0
      color white
      min-height 2.5rem
      line-height 2.5rem
      font-size .9rem
    .buttons
      margin 0 0 1rem 0
      button
        margin 0
        padding 0
        border 0
        color white
        font-size $playbackBarHeight * .2
        background-color transparent
        outline none
        height $playbackBarHeight * .25
    .footer
      font-size .333333333333 * $playlistTitleHeight
      padding 0 .5rem
      margin 0
      color white
      text-align center
      display block
      ellipsed()
      &.playlist-title
        display block
      &.back-button
        display none
    .play-icon
      display inline-block
    .pause-icon
      display none
    &.playing
      .play-icon
        display none
      .pause-icon
        display inline-block
