@import '_variables'
@import '_functions'
@import '_mixins'
@import '_typography'

$mainColor = #111
$backgroundColor = #ECECEC
$playlistTitleHeight = 4rem
$playbackBarHeight = 4rem

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing border-box
  overflow hidden

*, *:before, *:after
  box-sizing inherit

body
  font-family 'Lato', sans-serif
  background-color $backgroundColor
  font-size $baseFontSize
  color $mainColor
  width 100vw
  height 100vh
  backface-visibility hidden

a, a:hover, a:visited
  color black
  text-decoration underline

.playback-bar
  text-align center
  height $playbackBarHeight
  line-height $playbackBarHeight
  position fixed
  bottom 0
  left 0
  right 0
  background-color rgba($mainColor, .5)
  button
    margin 0
    padding 0
    border 0
    color white
    font-size $playbackBarHeight * .5
    background-color transparent
  .play-icon
    display inline-block
  .pause-icon
    display none
  &.playing
    .play-icon
      display none
    .pause-icon
      display inline-block

.playlist
  margin 0
  h2
    line-height $playlistTitleHeight
    padding 0 .5rem
    margin 0
    border-bottom 1px solid rgba(white, .8)
    background-color rgba($mainColor, .8)
    color white
  ul
    overflow-y auto
    -webkit-overflow-scrolling touch
    height "calc(100vh - %s)" % $playlistTitleHeight
    padding-bottom $playbackBarHeight
    li
      position relative
      padding-top .5rem
      padding-bottom .5rem
      padding-left .5rem
      line-height 1.5rem
      box-shadow inset 0 -1px rgba(white, .8)
      transition background-color .2s ease-in-out
      &:hover
        cursor pointer
        background-color darken($backgroundColor, 20%)
      &.playing
        background-color lighten($backgroundColor, 100%)
      .author
      .title
        display block
        &.title
          font-weight bold
      .year
        position absolute
        top 1.25rem
        right .5rem
